<!DOCTYPE html>
<html>
{% load widget_tweaks %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css"/>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<form action="{% url 'home:home' %}" method="post" enctype="multipart/form-data" id="student_form">
    {% csrf_token %}
    <div class="container">
        <div class="col-md-4">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="col-md-3">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="col-md-3">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
    </div>

    <div class="col-md-8">
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
            </div>
        {% endfor %}
        {#        <input type="submit" value="submit" class="btn btn-primary">#}
        <button value="submit" class="btn btn-primary" onclick=fileSizeValidate()>Submit</button>
    </div>

</form>

</body>
<script>
    function fileSizeValidate() {
        //alert("here");
        var element = document.getElementById("id_marks");
        var size = element.files[0].size;
        var max_size = 1024 * 1024;
        //alert(element.files[0].size);
        if (size > max_size)
            alert("File too big!");
        else {
            var form = document.getElementById('student_form');
            form.submit();
        }

        {#        1996-02-11#}
    }
</script>


</html>
